body {
  /* Padding for fixed top bar. */
  padding-top: 4rem;
}

textarea {
  width: 100%;
  height: 30rem;
  resize: none;
}

h3 {
  display: inline;
}

/* Overriding Bootstrap's blue glow. */
.form-control:focus {
  border: 2px solid black;
  box-shadow: none;
}

.code-block {
  margin: 1rem 0;
}

.code-block-header {
  background-color: black;
  color: white;
  padding: 0 0.25rem;
  margin-bottom: 1rem;
  user-select: none;
}

.form-field {
  display: flex;
  flex-direction: row;
}

.form-check-inline {
  float: right;
}
