body {
  /* Padding for fixed top bar. */
  padding-top: 4rem;
}

textarea {
  width: 100%;
  height: 30rem;
  resize: none;
}

.form-section {
  border: 1px solid black;
}

.form-section-header {
  background-color: black;
  color: white;
  padding: 0 0.25rem;
}

.form-field {
  display: flex;
  flex-direction: row;
}
